* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  color: #e4e6eb;
}

.body {
  height: 100%;
  margin-top: 32px;
  width: 1250px;
  max-width: 1250px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

.App-header {
  margin-top: 64px;
  align-self: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #e4e6eb;
}

.App-link {
  color: #61dafb;
}

.row {
  margin-top: 8px;
}

.search {
  display: flex;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  input {
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border: 0;
    border-radius: 50px;
    background-color: #3a3b3c;
    margin: 0 8px;
    font-size: 16px;
    color: #ecf3ff;
    outline: none;
    width: 350px;
  }
}

.selected {
  max-width: 100%;
  margin: 8px 0 24px;
  text-align: left;
  vertical-align: middle;
  height: auto;
  line-height: 24px;
  padding: 16px 0px 0px 16px;

  span {
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: rgb(36, 36, 36);
    height: 24px;
    display: inline-block;
  }
}

.symtpoms-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .options-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    flex-wrap: row wrap;
    word-wrap: none;
    width: 500px;
    max-height: 500px;
    overflow-y: scroll;

    .option {
      display: flex;
      margin-top: 8px;
      line-height: 24px;
      max-height: 24px;

      .symptom-checkbox {
        display: flex;
        align-content: flex-end;
        align-self: flex-end;
        align-items: flex-end;
        flex-direction: column;
        vertical-align: middle;
        width: 20%;
        height: 20px;
      }

      .label {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-self: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-left: 8px;
      }
    }

    .divider {
      display: block;
      overflow: hidden;
      border-style: inset;
      border-width: 0.5px;
      margin-top: 8px;
      max-width: 100%;
      flex-direction: row;
    }

    &.empty {
      overflow-y: hidden;
    }
  }
}

button {
  width: auto;
  padding: 4px 24px;
  height: 40px;
  border: 0;
  border-radius: 50px;
  margin: 0 8px;
  font-size: 16px;
  color: #ecf3ff;
  outline: none;
  cursor: pointer;
  background-color: #2851a3;

  &:hover {
    background-color: #1877f2;
  }

  &.submit-btn {
    min-width: 60px;
    background-color: #2851a3;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.message {
  color: #e4e6eb;
  font-size: 16px;
  border-radius: 30px;
  text-align: center;
  min-height: 40px;
  margin-bottom: 16px;
  min-width: 750px;
  padding-top: 8px;
  display: inline-block;
  vertical-align: middle;

  &.notification {
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
    text-shadow: 2px 1px #00040a;
  }

  span {
    padding: 16px;
  }
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

a {
  color: rgb(196, 196, 232)
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
